.main {
	padding: 20px;
	margin: 50px;
	border: 1px solid black;
	overflow: auto;
}

div {
	margin-bottom: 40px;
}

.staticIceCream {
	position: static;
	left: 100px;
}

.relativeIceCream {
	position: relative;
	left: 100px;
}

.fixedIceCream {
	/*display: none;*/
	height: 200px;
	width: 150px;
	position: fixed;
	left: 800px;
	top: 60px;
}

.outer {
	border: 1px solid #f00;
	height: 200px;
	position: relative;
}
 
.inner {
	width: 6em;
	height: 200px;
	background-color: #999;
	position: absolute;
	left: 50px;
}

.outer2 {
	border: 1px solid #f00;
	height: 200px;
}
 
.float {
	float: right;
}

.column {
	float: left;
	width: 300px;
	margin-right: 50px;
}

.clear {
	border: 1px solid black;
	clear: left;
}
